/*Start Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
button{
    border: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End Reset*/

/*////////////////////////// STYLE FOR LAPTOP SCREEN MIN 1024 PX ////////////////////////*/

body{
    font-family: 'Roboto', sans-serif;
}

body .app-container{
    padding: 30px;
}

header{
    background: #236477;
    padding: 40px 30px 10px;
    border-radius: 10px 10px 0 0;
}

h1{
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

nav .logo-text{
    height: 40px;
}

nav .nav-icon{
    float: right;
    max-width: 40px;
}

nav a {
    text-decoration: none;
}

nav .sidebar{
    padding: 0 20px;
    margin: 0 auto;
}

nav .two-col-user{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    margin: auto;
    margin-top: -10px;
}

nav .nav-user-info{
    text-transform: uppercase;
    position: relative;
    top: 10px;
    width: 160px;
    color: #236477;
}

nav .nav-user-info .nm {
    font-size: 18px;
    margin-bottom: 5px;
}

nav .nav-user-info .dpt{
    font-size: 13px;
}

nav .nav-user-info a {
    display: block;
    font-size: 13px;
    margin-top: 8px;
    width: 130px;
}

nav .nav-buttons{
    margin-top: 20px;
    text-align: center;
}

nav .nav-btn-grp-title{
    text-transform: uppercase;
    /* text-align: start; */
    font-size: 13px;
    color: grey;
    margin: 10px;
}

nav .nav-btn{
    display: inline-flex;
    width: auto;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    margin: 10px;
    line-height: 50px;
}

nav .nav-btn:hover{
    background: #008168;
}
nav .nav-btn:active{
    background: #006e58;
}

nav .nav-btn-txt, .nav-btn-icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}

nav .nav-btn-txt{
    margin-left: 10px;
}

nav .nav-btn-icon{
    margin-left: -20px;
    font-size: 1.5em;
}

.page-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 60px;
}

.page {
    padding: 50px 60px;
}

.page-container h2{
    font-size: 20px;
    color: grey;
}

/* BUTTONS */

.primary-btn{
    background: #236477;
    border: 1px solid none;
    border-radius: 30px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
}

.search-btn {
    width: 100%;
}

/* SEARCH BAR */

.search-bar {
    border: 2px solid #dadada;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 40px 10px 15px;
    width: 100%;
}
  
.search-bar:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
    outline: none;
}
  
::placeholder {
    color: lightgray;
    opacity: 1;
}


