/*Start Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
button{
    border: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End Reset*/

:root {
    --main-colour: #236477;
}

/*////////////////////////// STYLE FOR LAPTOP SCREEN MIN 1024 PX ////////////////////////*/

body{
    font-family: 'Roboto', sans-serif;
    background: #113F4E;
}

header{
    background: #236477;
    padding: 40px 30px 10px;
    border-radius: 10px 10px 0 0;
}

h1{
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

nav .logo-text{
    height: 40px;
}

nav .nav-icon{
    float: right;
    margin-right: 25px;
    max-width: 40px;
}

nav .main-nav{
    position: fixed;
    padding: 30px 30px 20px 30px;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

nav a {
    text-decoration: none;
}

nav .sidebar{
    padding: 0 20px;
    margin: 0 auto;
}

nav .two-col-user{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    margin: auto;
    margin-top: -10px;
}

nav .nav-user-info{
    text-transform: uppercase;
    position: relative;
    top: 10px;
    width: 160px;
    color: #236477;
}

nav .nav-user-info .nm {
    font-size: 18px;
    margin-bottom: 5px;
}

nav .nav-user-info .dpt{
    font-size: 13px;
}

nav .nav-user-info a {
    display: block;
    font-size: 13px;
    margin-top: 8px;
    width: 130px;
}

nav .nav-buttons{
    margin-top: 40px;
    text-align: center;
    /* display: block; */
    /* width: auto; */
}

nav .nav-btn-grp-title{
    text-transform: uppercase;
    /* text-align: start; */
    font-size: 13px;
    color: grey;
    margin: 15px auto;
}

nav .nav-btn{
    display: grid;
    grid-template-columns: 2fr 0.7fr;
    /* display: inline-flex; */
    width: 90%;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    margin: 10px;
    line-height: 50px;
}

nav .nav-btn-txt, .nav-btn-icon{
    /* display: inline-flex; */
    align-items: center;
    padding: 0 12px;
    color: white;
    height: 100%;
}

nav .nav-btn-txt{
    /* position: relative; */
    /* right: -30px; */
    text-align: center;
    padding-left: 50px;
    /* margin-left: 40px; */
}

nav .nav-btn-icon{
    /* margin-left: -20px; */
    font-size: 1.5em;
    display: inline-flex;
}

.page-container {
    padding: 160px 70px 80px;
}

.page {
    padding: 50px 60px;
    border-radius: 0 0 10px 10px;
    background: white;
}

.page-container h2{
    font-size: 20px;
    color: grey;
}

/* SEARCH BAR */

.search-bar {
    border: 2px solid #dadada;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;
    width: 100%;
}
  
.search-bar:focus {
    border-color: transparent;
    box-shadow: 0 0 5px lightskyblue;
    outline: none;
}
  
::placeholder {
    color: lightgray;
    opacity: 1;
}

/* CUSTOMER SEARCH RESULT */

h3 {
    font-size: 18px;
    text-transform: capitalize;
    color: lightgray;
    margin: 20px 0;

}

.search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 25px;
}

.result{
    padding: 18px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 30%;
    margin: 20px 0 ;
    cursor: pointer;
    text-decoration: none;

}

.result #customer-info{
    margin-left: 20px;
}

.result:hover{
    border-color: #236477;
}

.result .name{
    color: #236477;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

.result .email{
    margin-bottom: 6px;
}

.result .email, .result .number{
    color: #236477;
    font-size: 16px;
}

.result img {
    margin-left: 10px;
}

/* BUTTONS */

.button {
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;
    height: 100%;
    margin: 0;
    width: 120px;
    text-align: center;
}

.button:hover{
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.button:active{
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

/* .button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), 0 0);
}

.button:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), 0 0);
} */

.btn-cancel{
    background: rgb(146, 34, 34);
    /* background: #772323; */
    color: white;
}

.btn-save{
    background: #0f72d4; 
    color: #FFF;
}

.btn-invoice{
    background: #236477; 
    color: #FFF;
}

.btn-search{
    background: #236477; 
    color: #FFF;
    width: 100%;
    padding: 13.755px 40px !important;
    height: auto;
}

.primary-btn{
    background: #236477;
    border: 1px solid none;
    border-radius: 30px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
}

/* Header Button */
.secondary-btn{
    border: 1.5px solid white !important;
    background: #113F4E;
    color: white;
    padding: 12px 20px;
    position: relative;
    bottom: 5px;
}

.secondary-btn2{
    border: 1.5px solid white !important;
    background: #236477;
    color: white;
    padding: 12px 20px;
    position: relative;
    bottom: 5px;
}

.secondary-btn ion-icon{
    padding-left: 5px;
    font-size: 1.3em;
    position: relative;
    top: 4px;
   
}

/* Back to Home Button */
.bg-grp1{
    background: #307676;
}

/* Customer Buttons */
.bg-grp2{
    background: #307676;

}

/* Repair Buttons */
.bg-grp3{
    /* background: #188778; */
    background: #307676;
    
}

/* Report Button */
.bg-grp4{
    /* background: #009879; */
    background: #307676;

}

.nav-btn:hover{
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.nav-btn:active{
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

/* .nav-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), 0 0);
}

.nav-btn:active {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), 0 0);
} */

/* MODAL SECOND PAGE REPAIR REQUEST CREATED (DEMO) */

.info {
    margin: 5px;
    /* text-align: center; */
    font-size: 18px;
    color: #307676;
    text-transform: none;
}

.info p {
    margin-top: 0px;
}

.info-border {
    display: flex;
    justify-content: center;
    border: none;
    width: 100%;
    margin: 5px auto;
}

.invoice-pg-center{
    display: block;
    margin: 0 auto;
}

/*** Revert to Default ***/

b {
    all: revert;
}