/*Start Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*End Reset*/

/*////////////////////////// STYLE FOR LAPTOP SCREEN MIN 1024 PX ////////////////////////*/

body{
    font-family: 'Roboto', sans-serif;
}

body .app-container{
    /* border: 1px solid lightgray;
    border-radius: 10px;
    width: 900px;
    margin: 100px auto; */
    padding: 30px;
}

header .logo-text{
    height: 40px;
}

header .nav-icon{
    float: right;
    width: 40px;
}

nav .two-col-user{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    margin: auto;
    margin-top: -10px;
    margin-left: 20px;
}

nav .nav-user-info{
    text-transform: uppercase;
    position: relative;
    top: 10px;
    width: 160px;
    color: #236477;
}

nav .nav-user-info .nm {
    font-size: 15px;
    margin-bottom: 2px;
}

nav .nav-user-info .dpt{
    font-size: 11px;
}

nav .nav-user-info a {
    display: block;
    font-size: 9px;
    margin-top: 5px;
    width: 110px;
}

.customer-lookup {
    margin: 50px 100px;
}

.customer-lookup h1{
    font-size: 20px;
    color: grey;
}

.primary-btn{
    background: #236477;
    border: 1px solid none;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

/* SEARCH BAR */

.search-bar {
    border: 2px solid #dadada;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px 40px 10px 15px;
    position: relative;
    width: 90%;
}
  
.search-bar:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;
    outline: none;
}
  
::placeholder {
    color: lightgray;
    opacity: 1;
}
  
.search-icon {
    color: lightgray;
    font-size: 15px;
    position: relative;
    right: 45px;
    background-color: transparent;
    border: none;
}


