textarea {
    height: 200px;
}

#toastPlacement ion-icon{
    color: green;
    font-size: 1.5rem;
}

#toastPlacementHelp ion-icon{
    color: #236477;
    font-size: 1.5rem;
}

.toast-body {
    background-color: white;
    border-radius: 5px;
}

.customer-details h2 {
    color: #000;
    font-size: 24px;
}

.customer-details p {
    font-size: 22px;
    line-height: 1.8;
}

.customer-details hr {
    border: 2px solid #2363775a;
    border-radius: 2px;
    opacity: 1;
}

.modal-footer{
    border-top: 2px solid #2363775a;
    border-radius: 2px;
}

.modal-header{
    border-bottom: 2px solid #2363775a;
    border-radius: 2px;
    color: white;
    background-color: #236477;
}

#update-equipment-btn, #update-repair-request-btn, #update-customer-modal-btn{
    width: auto;
    color: white;
    background-color: #236477;   
}

#close-equipment-modal, #close-repair-request-modal, #close-customer-modal, #invoice-btn {
    padding: 9px 15px;
}

.customer-details .btns{
    width: 100%;
    margin: 5px;
    color: white;
    background-color: #236477;
}

.modal-footer a{
    background-color: #236477;
    color: white;
    padding: 12px 10px;
    width: 200px;
}

.flex-label {
    display: flex;
    justify-content: space-between;
}

/* help button */

.help-icon {
    background: url('../images/help-btn.png') no-repeat center center / contain;
    border: none;
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
    color: transparent;  
}

.tooltip-text {
    visibility: hidden;
    width: 450px;
    background-color: white;
    color: #236477;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 70%;
    margin-left: -425px;
    opacity: 0;
    transition: opacity 0.3s;
}

.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.help-icon:focus .tooltip-text,
.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Columns */

.customer-btn {
    margin-top:30px;
}

.customer-details-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-columns: 0.5fr 2fr;
}

.customer-lists-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1.3fr;
}

.customer-lists-grid div{
    text-align: center;
}

.customer-details-grid select {
    height: 193px;
    margin: 5px 0;
    width: 100%;
}

#repair-requests select {
    margin-top: 0px;
    height: 198px;
}

.equipment-field, .repair-field, .customer-field {
    display: grid;
}

.equipment-field {
    grid-template-columns: 1fr 1.8fr;
}

.repair-field {
    grid-template-columns: 1fr 2.2fr;
}

#invoice-date, #invoice-number, #invoice-status {
    font-weight: bold;
}

.customer-field {
    grid-template-columns: 1fr 1.8fr;
}

.modal-body label{
    margin-top: 5px;
}

#no-repair-requests{
    margin-top: 100px;
}

/*.customer-details .column {
    float: left;
    width: 45%;
    padding: 10px;
}*/
  
/*.customer-details .row::after {
    content: "";
    display: table;
    clear: both;
} */

.tabs{
    position: relative;
}

.small-button {
    width:auto;
    font-size: 12px; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
}

textarea, input, select{
    border: 1.5px solid rgba(128, 128, 128, 0.596) !important;
}

/*
@media screen and (min-width: 1550px) {
    .customer-details-grid {
        grid-template-columns: 0.7fr 2fr;
    }
}
*/