
:root {
    --input-outline: #2363775a;
    --placeholder: rgb(187, 187, 187);
}

fieldset {
    border: 1px solid var(--input-outline);
    border-radius: 5px;
    margin-bottom: 32px;
    padding: 20px;
}

main {
    margin: 0 auto;
}

.customer-create section:first-of-type {
    margin-bottom: 15px;
} 

legend {
    color: var(--input-outline);
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: grey;
    padding-left: 5px;
}

/* User Input Fields */

input, select, textarea {
    margin-top: 5px;
    max-width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    background-color: rgba(220, 231, 235, 0.2);
    outline: none;
}

select {
    background: #FFF;
    height: 30px;
}

textarea {
    border: 1px solid var(--input-outline);
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    resize: none;
    width: 100%;
}

select,
input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"] {
    border: none;
    border-bottom: 1px solid var(--input-outline);
    box-sizing: border-box;
    display: block;
    padding: 6px;
    width: 100%;
}

input[type="radio"] {margin-bottom: 10px;}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {height: 25px;}

/* input[type="submit"] {
    border: none;
    border-radius: 5px;
    background: #0f72d4; 
    color: #FFF;
    font-size: 15px;
    padding: 15px 30px;
}

input[type="submit"]:hover {
    opacity: 90%;
} */

/* Placeholder */

::-webkit-input-placeholder {
    color: var(--placeholder);
    font-size: 13px;
    padding-left: 5px;
}

::placeholder {
    color: var(--placeholder);
    font-size: 13px;
    padding-left: 5px;
}

.two-col {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 1024px){
    .two-col {
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

}


