.customer-details h2 {
    color: #000;
    font-size: 24px;
}

.customer-details p {
    font-size: 22px;
    line-height: 1.8;
}

.customer-details hr {
    border: 2px solid #2363775a;
    border-radius: 2px;
    opacity: 1;
}

.modal-footer{
    border-top: 2px solid #2363775a;
    border-radius: 2px;
}

.modal-header{
    border-bottom: 2px solid #2363775a;
    border-radius: 2px;
    color: white;
    background-color: #236477;
}

.customer-details .btns{
    width: 100%;
    margin: 5px;
    color: white;
    background-color: #236477;
}

.modal-footer a{
    background-color: #236477;
    color: white;
    padding: 12px 10px;
    width: 200px;
}

/* help button */

.help-icon {
    background: url('../images/help-btn.png') no-repeat center center / contain;
    border: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 23px;
    color: transparent;
    margin-left: 4px;
    bottom: 5px;    
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #236477;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 70%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.help-icon:focus .tooltip-text,
.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Columns */

.customer-btn {
    margin-top:30px;
}

.customer-details-grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
}

.customer-lists-grid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.customer-lists-grid div{
    text-align: center;
}

.customer-details-grid select {
    
    height: 204px;
    margin: 5px 0;
    width: 100%;
}

.equipment-details {
    display: grid;
    grid-template-columns: 1fr 1.8fr;    
}

#no-repair-requests{
    margin-top: 100px;
}

/*.customer-details .column {
    float: left;
    width: 45%;
    padding: 10px;
}*/
  
/*.customer-details .row::after {
    content: "";
    display: table;
    clear: both;
} */

@media screen and (min-width: 1550px) {
    .customer-details-grid {
        grid-template-columns: 0.7fr 2fr;
    }
}