
:root {
    --input-outline: #236377;
    --placeholder: rgb(187, 187, 187);
}

fieldset {
    border: 1px solid var(--input-outline);
    border-radius: 5px;
    margin-bottom: 32px;
    padding: 20px;
}

main {
    margin: 0 auto;
}

.customer-create section:first-of-type {
    margin-bottom: 15px;
} 

legend {
    color: var(--input-outline);
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: grey;
}

/* help button */

.help-icon {
    background: url('../images/help-btn.png') no-repeat center center / contain;
    border: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 23px;
    color: transparent;
    margin-left: 4px;
    bottom: 5px;    
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #236477;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 70%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.help-icon:focus .tooltip-text,
.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* User Input Fields */

input, select, textarea {
    margin-top: 5px;
    max-width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #236477;
    /* border-radius: 10px; */
}

/* City/ Province drop downs */
select {
    background: #FFF;
    height: auto;
    border: 1px solid var(--input-outline);
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    display: block;
    padding: 0 10px;
    width: 100%;
}

/* country/ region drop down */
select:last-child{
    border-radius: 10px;
    padding: 0 10px;
    height: 35px;
}

textarea {
    border: 1px solid var(--input-outline);
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    resize: none;
    width: 100%;
}


input[type="date"],
input[type="text"],
input[type="email"],
input[type="tel"] {
    border: none;
    border: 1px solid var(--input-outline);
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    width: 100%;
}

input[type="radio"] {margin-bottom: 10px;}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {height: 25px;}

::-webkit-input-placeholder {
    color: var(--placeholder);
    font-size: 13px;
    /* padding-left: 5px; */
}

::placeholder {
    color: var(--placeholder);
    font-size: 13px;
    /* padding-left: 5px; */
}

.edit-lookup-icon{
    margin-top: 5px;
    font-size: 20px;
    color: white;
    background-color: #236477;
    padding: 5px 8px;
    border-radius: 0 10px 10px 0;

}

.two-col {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
}


@media screen and (min-width: 1024px){
    .two-col {
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

}


