.help-icon {
    background: url('../images/help-btn.png') no-repeat center center / contain;
    border: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 23px;
    color: transparent;
    margin-left: 4px;
    bottom: 5px;    
}


.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #236477;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 70%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;

}

.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.help-icon:focus .tooltip-text,
.help-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* FOR ACTIVE REPAIRS/ COMPLETED REPAIRS PAGES */

.active-repair-pg .help-icon{
    height: 5px;
    margin-left: 0;
    margin-right: 14px;
    bottom: 10px;
    padding: 18px;
}

.active-repair-pg .tooltip-text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -100px;
    margin-bottom: -100px;

}