
.page{
    padding: 1px 30px;
}

.content-table{
    border-collapse: collapse;
    margin: 25px auto;
    /* font-size: 0.9em; */
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.content-table thead tr{
    /* background-color: #009879; */
    background-color: #307676;
    color: #fff;
    text-align: left;
    font-weight: 100;
}

.content-table th{
    padding: 20px;
}

.content-table td {
    padding: 20px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    /* border-bottom: 2px solid #009879; */
    border-bottom: 2px solid #307676;
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}

.repair-btn{
    background: #1f78d1;
    /* background: #009879; */
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: 400;
    /* position: relative; */
    /* top: 6px; */
    display: block;
    width: 150px;
}

.repair-btn ion-icon{
    font-size: 15px;
    margin-left: 3px;
    position: relative;
    top: 2px;
}

.repair-btn:hover{
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.continue{
    background: #009879;
}

.complete{
    background: grey;
}

.contacted{
    background: teal;
}

.followup{
    /* background: rgb(208, 138, 6); */
    /* background: rgb(53, 147, 147); */
    /* background: rgb(188, 101, 101); */
    background: lightseagreen;

}

.report{
    /* background: rgb(230, 197, 34); */
    background: teal;
}

.report:hover{
    background: #307676;
}

.report ion-icon{
    font-size: 20px;
    position: relative;
    top: 3px;
    color: white;
}
