.column {
    float: left;
    padding: 10px;
  }

  #equipManu, #equipType, #repairPart, #saleType {
    border-radius: 10px;
    height: 35px;
  }

  #warranty-options {
    margin-top: 10px;
  }

  #saleType, #saleTypeLabel, #repairPart, #repairPartLabel {
    display: none;
}

.flash {
  animation: flashAnimation 3s ease-in-out 1 alternate backwards;
}

@keyframes flashAnimation {
  0% {
    background-color: inherit;
  }

  10%,
  90% {
    background-color: lightblue;
  }

  100% {
    background-color: inherit;
  }
}


button {
  background-color: #70bdbd;
  color: white;
}
  
  .row {
    margin-top: -2px;
  }

  .one, .four, .five {
    width: 25%;
  }
  
  .two, .three {
    width: 25%;
  }

  #repair-report-form {
    display:none;
  }

  #weekly-report-form {
    display:none;
  }

  .week{
    width: 100%;
    border: 1px solid #236377;
    border-radius: 10px;
    padding: 0 10px;
    height: 35px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.report-center {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.reports-home .btns {
  width: 100%;
  margin: 5px;
  padding-top: 5px;
  color: white;
  background-color: #236477;
}